.gradle
/gradle/
/out/
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper
!/gradle/wrapper

# Cache of project
.gradletasknamecache

# Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

# IntelliJ
/.idea
/jixun.project.iml
/jixun.project.ipr
/jixun.project.iws

# Eclipse
/.settings
/.classpath
/.project
